<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="axT" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Error.aspx">
      <error statusCode="404" redirect="~/Error/Error404.aspx"/>
    </customErrors>
    <sessionState timeout="30"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    
    <!--
    <add key="local" value="Data Source=127.0.0.1; port=3306; User ID=root;Password=;" />
	    
 <add key="local" value="datasource=10.22.157.69;database=die_estadistica_administrativa_pruebas; port=3306; uid=nancy; password=nancy123;"/>
    -->
	 <add key="local" value="datasource=10.22.157.69; database=die_estadistica_administrativa_pruebas; port=3306; uid=Lizbeth; password=lizbeth220622;"/>
  </appSettings>
	<connectionStrings>
    
		<!--
		<add name="prueba" connectionString="server=10.22.157.69;database=die_estadistica_administrativa_pruebas;uid=nancy;password=nancy123;"/>
	-->
		    <add name="local" connectionString="server=10.22.157.69; database=die_estadistica_administrativa_pruebas; uid=Lizbeth; password=lizbeth220622;"/>

	
	</connectionStrings>
</configuration>